@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 body {
  -webkit-app-region: drag;

  user-select: none;
}

.update {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-family: Arial;
  font-weight: 400;
}

.display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: fadein 0.3s;
  background: #1C2541;
}
.header {
  display: inline;
  font-family: Arial;
  font-weight: 400;
}

.headerText {
  font-size: 24px;
  font-weight: 400;
}

.title_bar {
  display: flex;
}

.fa, .fa-subway {
  font-size: 30px;
  margin-top: 19px;
}

.station {
  font-weight: 700;
  width: 45%;
  font-family: cursive;
  margin: 10px;
  background: #3A506B;
  box-shadow: 3px 3px 3px #0B132B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.stationHeader {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial;
  font-weight: 400;
}

.trainContainer {
  display: flex;
  width: 100%;
  margin: 5px;
}

.uptown, .downtown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: Arial;
  font-weight: 400;
}

.direction {
  display: flex;
  justify-content: center;
}

.route {
  max-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  font-family: Arial;
  margin: 5px;
}



/* STATION BUTTONS */
.stop{
  line-height: 25px;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.one, .two, .three{
  background: #EB262F;
}

.four, .five, .six {
  background: #18963C;
}

.seven {
  background: #B71BAD;
}

.q, .r, .w, .n {
  background: #FBD82A;
  color: black;
}

.a, .c, .e {
  background: #294BAD;
}

.b, .d, .f, .m {
  background: #F35E1C;
}

.g {
  background: #70C245;
}

.j, .z {
  background: #A5794D;
}

.l {
  background: #A7A9AC;
}

.s {
  background: #808183;
}
