@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 body {
  -webkit-app-region: drag;
  animation: fadein 0.3s;
  user-select: none;
}

.header {
  font-family: 'Monoton', cursive;
  display: inline;

}

.title_bar {
  display: flex;
}

.fa .fa-subway {
  font-size: 38px;
  margin-top: 12px;
}

.trains {


}
